mainmenu "Thingy52 main program"

config JSON_LIBRARY
    bool
    prompt "Build JSON library"
    help
      Build a minimal JSON parsing/encoding library. Used by sample
      applications such as the NATS client.

source "Kconfig.zephyr"

config BT_DEVICE_NAME
    string "Bluetooth device name"
    default "Zephyr Thingy52"
    depends on BT_HCI_HOST && BT_HCI && BT
    help
      Bluetooth device name. Name can be up to 248 bytes long (excluding
      NULL termination). Can be empty string.
